* {
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

h1 {
    font-size: 55px;
    color: rgb(123, 42, 42);
}

#pic1 {
    width: 400px;
}

#rec-info {
    font-size:35px;
    color: rgb(123, 42, 42);
    font-style: italic;
}

#ingr-wor {
    font-size: 40px;
    color: rgb(123, 42, 42);
}

#ingr {
    font-size: 26px;
    color: darkorange;
}

#ingr i {
    color: green;
}

#pic2 {
    width: 550px;
}

#direc-wor {
    font-size: 40px;
    color: rgb(123, 42, 42);
}

#Directions h5 {
    font-size: 35px;
    color: rgb(123, 42, 42);
}

#Directions p {
    font-size: 26px;
    letter-spacing: 1px;
    color: darkorange;
}

#pic3 {
    width: 500px;
}

#back {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: darkorange;
    border-color: darkorange;
    color: rgb(123, 42, 42);
}

#Directions i {
    color: green;
}